.weather-app-wrapper {
  max-width: 600px;
  margin: 15px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 15px;
}

.search-bar {
  margin: 20px 0 0px 20px;
  width: 50%;
}

.row {
  margin: 0 20px;
}

.cityname {
  padding: 0px 0px;
  margin: 30px 0 0;
}

#col-4,
#citytemp,
#celsius {
  position: relative;
  float: right;
  right: 74px;
  top: 11px;
  text-decoration: none;
}
#col-4,
#citytemp,
#fahrenheit {
  position: relative;
  float: right;
  right: 58px;
  top: 30px;
  text-decoration: none;
}
#weather-description {
  font-size: 17px;
}
.citytemp {
  margin: 30px 0 0;
}

.main-temp {
  font-size: 40px;
}

#current-location-button {
  position: absolute;
  right: 54px;
  top: 59px;
  padding: 10px auto;
  border-radius: 30px;
}
#icon {
  font-size: 75px;
  color: #f6d167;
  margin: 40px 0 0;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
